NEXT_PUBLIC_API_BASE_URL=http://localhost:8787
NEXT_PUBLIC_PHANTOM_URL=http://localhost:5173
NEXT_PUBLIC_TRUST_URL=http://localhost:5174
NEXT_PUBLIC_SELLAUTH_SHOP_ID=
NEXT_PUBLIC_SELLAUTH_STARTER_URL=https://rp-wallet.sellauth.com/product/starter
NEXT_PUBLIC_SELLAUTH_STARTER_PRODUCT_ID=
NEXT_PUBLIC_SELLAUTH_STARTER_VARIANT_ID=
NEXT_PUBLIC_SELLAUTH_MONTHLY_URL=https://rp-wallet.sellauth.com/product/monthly
NEXT_PUBLIC_SELLAUTH_MONTHLY_PRODUCT_ID=
NEXT_PUBLIC_SELLAUTH_MONTHLY_VARIANT_ID=
NEXT_PUBLIC_SELLAUTH_YEARLY_URL=https://rp-wallet.sellauth.com/product/yearly
NEXT_PUBLIC_SELLAUTH_YEARLY_PRODUCT_ID=
NEXT_PUBLIC_SELLAUTH_YEARLY_VARIANT_ID=
NEXT_PUBLIC_ASSETS_URL=
NEXT_PUBLIC_FREE_DEMO_ENABLED=false
