NEXT_PUBLIC_API_BASE_URL=http://localhost:8787
NEXT_PUBLIC_PHANTOM_URL=http://localhost:5173
NEXT_PUBLIC_TRUST_URL=http://localhost:5174
NEXT_PUBLIC_SELLAUTH_SHOP_ID=241810
NEXT_PUBLIC_SELLAUTH_STARTER_URL=https://larperwallet.mysellauth.com/product/7-days-access
NEXT_PUBLIC_SELLAUTH_STARTER_PRODUCT_ID=742866
NEXT_PUBLIC_SELLAUTH_STARTER_VARIANT_ID=1214679
NEXT_PUBLIC_SELLAUTH_MONTHLY_URL=https://larperwallet.mysellauth.com/product/1-month-access
NEXT_PUBLIC_SELLAUTH_MONTHLY_PRODUCT_ID=742874
NEXT_PUBLIC_SELLAUTH_MONTHLY_VARIANT_ID=1214692
NEXT_PUBLIC_SELLAUTH_YEARLY_URL=https://larperwallet.mysellauth.com/product/1-year-access
NEXT_PUBLIC_SELLAUTH_YEARLY_PRODUCT_ID=742880
NEXT_PUBLIC_SELLAUTH_YEARLY_VARIANT_ID=1214706
NEXT_PUBLIC_ASSETS_URL=
NEXT_PUBLIC_FREE_DEMO_ENABLED=false
