NEXT_PUBLIC_API_BASE_URL=https://api.rpwallet.us
NEXT_PUBLIC_PHANTOM_URL=https://app1.rpwallet.us
NEXT_PUBLIC_TRUST_URL=https://app3.rpwallet.us
NEXT_PUBLIC_ASSETS_URL=
NEXT_PUBLIC_FREE_DEMO_ENABLED=false
NEXT_PUBLIC_SELLAUTH_SHOP_ID=253501
NEXT_PUBLIC_SELLAUTH_STARTER_PRODUCT_ID=796131
NEXT_PUBLIC_SELLAUTH_STARTER_VARIANT_ID=1356114
NEXT_PUBLIC_SELLAUTH_MONTHLY_PRODUCT_ID=796135
NEXT_PUBLIC_SELLAUTH_MONTHLY_VARIANT_ID=1356121
NEXT_PUBLIC_SELLAUTH_YEARLY_PRODUCT_ID=796138
NEXT_PUBLIC_SELLAUTH_YEARLY_VARIANT_ID=1356127
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
NEXT_PUBLIC_POSTHOG_PERSON_PROFILES=always
